.contactusSection{
    background-color: var(--black-color);
    color: var(--white-color);
    padding: 2.5rem !important;
}
.inputBox{
    font-size: 35px;
    border: 3px solid var(--white-color);
}