<section class="aboutUsSection px-3">
    <div class="row">
        <div class="col-md-6 p-4 ">
            <div class="row">
                <h2 class="sectionHeading"> ABOUT US</h2>
                <h4>We are a professional team of tattoists</h4>
               <p>Our tattoo salon is a home for talented tattoo artists ready to turn your body into a canvas with beautiful pictures on.<br>
                To get your body inked in our tattoo salon, you may contact us via contact form on our website, or by phone. We welcome appointments, as well as walk-ins. We have gathered the best team of tattoo artists who work full time in our salon, and we have fantastic guest artists visiting our shop. </p>
                <div class="col-12 d-flex justifySpace">
                    <div>
                        <h3 class="fontTheme pe-4">8600</h3>
                        <p>Reviews</p>
                    </div>
                    <div>
                        <h3 class="fontTheme pe-4">1580</h3>
                        <p>Tattoos</p>
                    </div>
                    <div>
                        <h3 class="fontTheme ">975</h3>
                        <p>Happy Clients</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 p-4">
            <img class="h100 w100" src="./../../../assets/images/aboutus/Rectangle 30.png" alt="">
        </div>
    </div>
</section>
<section class="ourArtistsSection py-3">
    <div class="row">
        <div class="col-6">
            <h2 class="sectionHeading">OUR ARTISTS</h2>
        </div>
        <div class="col-6 text-end">
            <button  class="fontBannerButton fontBannerSize mt-3">VIEW ALL TEAM</button>
        </div>
    </div>
    <div class="row py-4">
        <div class="col-md-4 py-5 position-relative">
            <img class="h100 w100" src="./../../../assets/images/aboutus/Rectangle 32.png" alt="">
            <div class="position-absolute artist-name">
                <h3>Sara Morgan</h3>
                <p>Tattoo Master</p>
            </div>
        </div>
        <div class="col-md-4 py-5 position-relative">
            <img class="h100 w100" src="./../../../assets/images/aboutus/Rectangle 33.png" alt="">
            <div class="position-absolute artist-name">
                <h3>Sara Morgan</h3>
                <p>Tattoo Master</p>
            </div>
        </div>
        <div class="col-md-4 py-5 position-relative">
            <img class="h100 w100" src="./../../../assets/images/aboutus/Rectangle 34.png" alt="">
            <div class="position-absolute artist-name">
                <h3>Sara Morgan</h3>
                <p>Tattoo Master</p>
            </div>
        </div>
    </div>
    <div class="row py-4">
        <div class="col-md-4 py-5 position-relative">
            <img class="h100 w100" src="./../../../assets/images/aboutus/Rectangle 35.png" alt="">
            <div class="position-absolute artist-name">
                <h3>Sara Morgan</h3>
                <p>Tattoo Master</p>
            </div>
        </div>
        <div class="col-md-4 py-5 position-relative">
            <img class="h100 w100" src="./../../../assets/images/aboutus/Rectangle 36.png" alt="">
            <div class="position-absolute artist-name">
                <h3>Sara Morgan</h3>
                <p>Tattoo Master</p>
            </div>
        </div>
        <div class="col-md-4 py-5 position-relative">
            <img class="h100 w100" src="./../../../assets/images/aboutus/Rectangle 37.png" alt="">
            <div class="position-absolute artist-name">
                <h3>Sara Morgan</h3>
                <p>Tattoo Master</p>
            </div>
        </div>
    </div>

</section>
<section class="subscribeSection px-3">
    <div class="row">
        <div class="col-md-6 p-4 ">
            <div class="row py-3">
                <h2 class="pb-4"> SUBSCRIBE TO NEWSLETTER </h2>
                <h4 class="colorLightBrown">Be the first to know about our promotions and discounts!</h4>
               <div>
                <img class="iconImage" src="./../../../assets/images/aboutus/Envelope.png">
                <input type="text" placeholder="YOUR EMAIL" class="inputBox p-l-50">
                <button class="fontTheme btnInput">SEND MESSAGE</button>
               </div>
            </div>
        </div>
    </div>
</section>

