<section class="footerSection">
    <div class="row">
        <div class="col-md-4 p-4">
            <h2 class="pb-4"> ABOUT US</h2>
            <p class="colorLightGrey text-justify"> Welcome to TattooHub! Our focus is to break the image of the stereotypical tattoo 
                parlour, while still remaining true to the roots of a traditional tattoo shop. 
            </p>
            <div>
                <div class="d-flex align-items-baseline">
                    <img class="pe-4 h-100" src="./../../../assets/images/footer/Phone.png" alt=""> 
                    <p class="fs-4">
                        +1 929 622 0069
                    </p>
                </div>
                <div class="d-flex align-items-baseline">
                    <img class="pe-4 h-100" src="./../../../assets/images/footer/Envelope.png" alt=""> 
                    <p class="fs-4">
                        emohitrao@gmail.com
                    </p>
                </div>
                <div class="d-flex align-items-baseline">
                    <img class="pe-4 h-100" src="./../../../assets/images/footer/User Location.png" alt=""> 
                    <p class="fs-4">
                        15144 80th St Howard Beach NY 11414+1 929 622 0069
                    </p>
                </div>
            </div>
        </div> 
        <div class="col-md-4 p-4">
            <img class="w100" src="../../../assets/images/footer/Group 39.png">
        </div>
        <div class="col-md-4 p-4">
            <div class="row">
                <div class="col-md-7">
                    <h2 class="pb-4">Opening Hours</h2>
                    <div class="row">
                        <div class="col-5">
                            Monday : 
                        </div>
                        <div class="col-7 colorLightGrey">
                            8am - 10pm
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            Tuesday : 
                        </div>
                        <div class="col-7 colorLightGrey">
                            8am - 10pm
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            Wednesday : 
                        </div>
                        <div class="col-7 colorLightGrey">
                            8am - 10pm
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            Thursday : 
                        </div>
                        <div class="col-7 colorLightGrey">
                            8am - 10pm
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            Friday : 
                        </div>
                        <div class="col-7 colorLightGrey">
                            8am - 10pm
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            Saturday : 
                        </div>
                        <div class="col-7 colorLightGrey">
                            8am - 10pm
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            Sunday : 
                        </div>
                        <div class="col-7 colorLightGrey">
                            8am - 10pm
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <h2 class="pb-4">Useful Links</h2>
                    <ul>
                        <li class="pb-3"><a>Home</a></li>
                        <li class="pb-3"><a>About Us</a></li>
                        <li class="pb-3">Gallery</li>
                        <li class="pb-3">Shop</li>
                        <li class="pb-3">Contacts</li>
                    </ul>
                </div>
            </div>
            
        </div>
    </div>
</section>

<section class="footerBottom ">
    <div class="row">
        <div class="col-md-6 p-4">
            <p class="fs-3">© 2023 Tattoo Studio. Privacy Policy</p>
        </div>
        <div class="col-md-6 p-4">
            <div class="d-flex justify-content-end">
                <p class="fs-3">Follow Us : <span><img src="./../../../assets/images/footer/Twitter.png" alt="twitter"></span>
                    <span><img src="./../../../assets/images/footer/Facebook F.png" alt="facebook"></span>
                    <span><img src="./../../../assets/images/footer/Instagram.png" alt="Instagrom"></span>
                    <span><img src="./../../../assets/images/footer/Google.png" alt="Google"></span>
                </p>
            </div>
        </div>
    </div>
</section>