// $base-color : #BE8F01;
:root {
    --base-color : #BE8F01; // or any global you wish to share with components 
    --white-color : #ffffff;
    --black-color : #000000;
    --grey-color : #D9D9D9;
    --lightGrey-color: rgba(255, 255, 255, 0.5);
    --darkBrown-color: rgba(79, 76, 78, 0.8);

}