<section class="banner">
    <div class="row position-relative">
        <img class="w100" src="./../../../assets/images/Home/Home-2.png" alt="">
        <div class="position-absolute align-items-center h100 d-flex">
            <div class=" m-l-30">
                <p class="p-font-fan fontBanner fontTheme">Good Tattoo is</p>
                 <p class="fontBanner w50 text-white">an Extension of the Character and Your State of Soul</p>
                <button (click)="redirect('appointment')" class="fontBannerButton fontBannerSize mt-3">MAKE AN APPOINTMENT ONLINE</button>
            </div>
        </div>
    </div>
</section>
<section class="ourWorkSection py-3">
    <div class="row">
        <div class="col-6">
            <h2 class="sectionHeading">Our Works</h2>
        </div>
        <div class="col-6 text-end">
            <button  (click)="redirect('gallery')" class="fontBannerButton fontBannerSize mt-3">ENTER THE GALLERY</button>
        </div>
    </div>
    <div class="row py-4">
        <div class="col-md-3 p-0">
            <img class="h100 w100" src="./../../../assets/images/Home/Home-3.png" alt="">
        </div>
        <div class="col-md-3 p-0">
            <img class="h100 w100" src="./../../../assets/images/Home/Home-4.png" alt="">
        </div>
        <div class="col-md-3 p-0">
            <img class="h100 w100" src="./../../../assets/images/Home/home5.png" alt="">
        </div>
        <div class="col-md-3 p-0">
            <img class="h100 w100" src="./../../../assets/images/Home/home6.png" alt="">
        </div>
    </div>

</section>

<section class="whatWeDoSection py-3">
    <div class="row">
        <div class="col-md-6 p-4 ">
            <div class="row py-3">
                <h2 class="sectionHeading"> What We Do</h2>
                <div class="col-md-6">
                    <div class="flex">
                        <img src="./../../../assets/images/Home icons/Home icon.png" alt="">
                        <h3>Tattooing</h3>
                    </div>
                    <p class="text-justify">For a premium result, at our tattoo shop we combine modern technics with traditional ones.</p>
                </div>
                <div class="col-md-6">
                    <div class="flex">
                        <img src="./../../../assets/images/Home icons/home icon2.png" alt="">
                        <h3>Piercing</h3>
                    </div>
                    <p class="text-justify">Want some extra holes in your body? Our piercing masters will make some for you.</p>
                </div>
                <div class="col-md-6">
                    <div class="flex">
                        <img src="./../../../assets/images/Home icons/Home icon4.png" alt="">
                        <h3>Tattoo Cover Up</h3>
                    </div>
                    <p class="text-justify">Got some old tattoos that you don’t find pretty? Our talented artists will cover them up for you.</p>
                </div>
                <div class="col-md-6">
                    <div class="flex">
                        <img src="./../../../assets/images/Home icons/Home icon3.png" alt="">
                        <h3>Tattoo Design</h3>
                    </div>
                    <p class="text-justify">Nothing can beat the challenge of creating a design that initially is only in your imagination.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 p-4">
            <img class="h100 w100" src="./../../../assets/images/Home/home7.png" alt="">
        </div>
    </div>
</section>

<section class="testimonialSection">
    <div class="row">
        <div class="col-12">
            <h2 class="sectionHeading">TESTIMONIALS </h2>
        </div>
        <div class="col-md-6">
            <img src="./../../../assets/images/Home icons/Group 17.png" alt="">
            <p>Dark Ink is a place where you can get a high-quality tattoo, and even order a custom design based on your wishes and expectations. This is exactly what I received during my first visit to the salon, and I will certainly come here again.</p>
            <img src="./../../../assets/images/Home icons/Ellipse 1.png" alt="">
            <div class="d-inline-grid px-4">
                <p class="d-inline">Sam Williams</p>
                <p class="d-inline">Client</p>
            </div>
        </div>
        <div class="col-md-6">
            <img src="./../../../assets/images/Home icons/Group 17.png" alt="">
            <p>Dark Ink is a place where you can get a high-quality tattoo, and even order a custom design based on your wishes and expectations. This is exactly what I received during my first visit to the salon, and I will certainly come here again.</p>
            <img src="./../../../assets/images/Home icons/Ellipse 2.png" alt="">
            <div class="d-inline-grid px-4">
                <p class="d-inline">Sam Williams</p>
                <p class="d-inline">Client</p>
            </div>
        </div>
    </div>
</section>